:root {
    --cm_primary: #7FFFD4;
}

#app_main {
    background-color: var(--cm_primary);
    position: relative;
}

#app_main .ms_cell {
    border: 1px solid black;
    aspect-ratio: 1/1;
}

#app_main .ms_line_10 {
    width: calc(100%/10);
}

#app_main .ms_line_9 {
    width: calc(100%/9);
}

#app_main .ms_line_7 {
    width: calc(100%/7);
}

#app_main .ms_cell_bomb {
    display: block;
}

#app_main .endgame {
    display: none;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8rem;
    animation: goes_down 2s linear, pulse 4s 2s linear infinite;
    font-weight: bold;
}


@keyframes goes_down {
    0% {
        top: 0%;
    }

    100% {
        top: 25%;
    }
}

@keyframes pulse {
    0% {
        font-size: 8rem;
    }

    50% {
        font-size: 8.5rem;
    }

    100% {
        font-size: 8rem;
    }
}




.exploded {
    background-image: url("../img/explosion.gif");
    background-size: contain;
}