.debug * {
  border: 1px red dashed;
}

:root {
  --d_side2_rotate_x: 270deg;
  --d_side3_rotate_y: 90deg;
  --d_side4_rotate_y: 270deg;
  --d_side5_rotate_x: 90deg;
  --d_side6_rotate_y: 180deg;
}

.dice {
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.side {
  position: absolute;
  background-color: #ffF;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  border: 2px solid #000000;
  text-align: center;
  color: red;
  font-size: 5rem;
  line-height: normal;
  font-weight: 600;
}

/* #region Describe d6 in 3D ===================*/
.side:nth-child(1) {
  transform: translateZ(3rem);
}

.side:nth-child(2) {
  transform: rotateX(var(--d_side2_rotate_x)) translateZ(3rem);
}

.side:nth-child(3) {
  transform: rotateY(var(--d_side3_rotate_y)) translateZ(3rem);
}

.side:nth-child(4) {
  transform: rotateY(var(--d_side4_rotate_y)) translateZ(3rem);
}

.side:nth-child(5) {
  transform: rotateX(var(--d_side5_rotate_x)) translateZ(3rem);
}

.side:nth-child(6) {
  transform: rotateY(var(--d_side6_rotate_y)) translateZ(3rem);
}

/* #endregion Describe d6 in 3D ===================*/


.show-1 {
  transform: rotateX(0) rotateZ(360deg);
}

.show-2 {
  transform: rotateX(calc(-1 * var(--d_side2_rotate_x))) rotateZ(360deg);
}

.show-3 {
  transform: rotateY(calc(-1 * var(--d_side3_rotate_y))) rotateZ(360deg);
}

.show-4 {
  transform: rotateY(calc(-1 * var(--d_side4_rotate_y))) rotateZ(360deg);
}

.show-5 {
  transform: rotateX(calc(-1 * var(--d_side5_rotate_x))) rotateZ(360deg);
}

.show-6 {
  transform: rotateY(calc(-1 * var(--d_side6_rotate_y))) rotateZ(360deg);
}